.searchPanel {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.label {
  font: 500 16px 'Inter', Arial, sans-serif;
}

.input {
  margin: 0 10px;
}
