@import url('./common/fonts/fonts.css');
@import url('./common/fonts/fonts.style.css');
@import url('./common/colors/colors.css');
@import url('./common/common.css.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  font-size: 16px;
  background-color: var(--bgc-main);
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 300;
}

.text__align_center {
  text-align: center;
}

.cursor__pointer {
  cursor: pointer;
}
